@font-face {
    font-family: 'changaregular';
    src: url('../fonts/changa-regular-webfont.woff2') format('woff2'),
         url('../fonts/changa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p {
    font-family: 'changaregular';
}
h2, h3 {
    font-family: 'chunkfiveroman';
  }
 header {
    background: url(../img/bear.png) repeat #F4A460;
    background-size: 200px;
    padding: 8% 0 8% 0;
    text-align: center;
}
header {
    display: block;
}
.container {
background-color: rgba(255,255,255,.5);
    padding: 20px 200px;
    display: inline-block;
}
.left{ border: .3em  solid red; }
.right{ border: .3em solid blue;}

.left {
  float: left;
  width: 49%;
  padding: 0 0 2% 0;
  margin: 0 0 0 0;
  background-color: #fff
}
.left2 {
  float: left;
  width: 40%;
  padding: 0 0 33.5px 0;
  margin: 0 0 0 18px;
}
.left3 {
  float: left;
  width: 40%;
  padding: 20px 0 0 0;
  margin: 20px 0 0 25px;
}
.right{
  width: 49%;
  padding: 0;
  float: right;
  margin: 0 0 0 0;
  padding: 0 0 2.5% .8%;
  background-color: #fff
}
.right2 {
  float: right;
  width: 40%;
  padding: 30px;
  margin: 0 18px 0 18px;
}
.right3 {
  float: right;
  width: 40%;
  padding: 30px;
  margin: 20px 18px 0 18px;
}
.clear {
  clear: both;
}
.wrapper{

}
h2 h3 {
  padding: 0;
}
body{
  background-color: #000
}
footer {
  background-color: #de9151;
  padding: 1% 1% 1% 1%;
}
.pogchamp {
    resize: both;
    overflow: auto;
}
